.main .welcome {
  background: #007bd7;
  background: -webkit-gradient(linear, left top, left bottom, from(#0a93ec), to(#003683));
  background: -moz-linear-gradient(top, #0a93ec, #003683);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a93ec", endColorstr="#003683"); }
  .main .welcome .grid {
    background-image: url(/javascripts/harness/trunk/assets/images/content/welcome/grid_lines.png); }
  .main .welcome img.title {
    position: absolute;
    width: 536px;
    height: 81px;
    left: 50%;
    top: 50%;
    margin-left: -268px;
    margin-top: -75.5px; }

.shell.harness .main .footer .region img.logo {
  position: absolute;
  top: 12px;
  right: 20px; }
