{namespace harness.controls.root.tmpl}

/**
* The main footer
* @param view - The view being rendered.
*/
{template .mainFooter}
  <img class="logo" src="{$view.paths.images}/harness_logo.png" />
{/template}

