.abs_fill {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px; }

.myriad {
  font-family: "myriad-pro-1", "myriad-pro-2"; }

div.bevel.highlight {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 1px;
  background: white; }

.core.shell .region {
  overflow: hidden; }

.core.shell.ipad {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: white; }
  .core.shell.ipad .header {
    background: #e0e1e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#a6acba));
    background: -moz-linear-gradient(top, #f5f5f7, #a6acba);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f7", endColorstr="#a6acba");
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 43px;
    border-bottom: solid 1px #797f8f; }
  .core.shell.ipad .footer {
    background: #e0e1e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#a6acba));
    background: -moz-linear-gradient(top, #f5f5f7, #a6acba);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f7", endColorstr="#a6acba");
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 43px;
    border-top: solid 1px #797f8f; }
  .core.shell.ipad .left {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 320px;
    border-right: solid 1px #4d4d4d;
    background: #f5f5f5; }
    .core.shell.ipad .left .region {
      position: absolute;
      left: 0px;
      top: 44px;
      right: 0px;
      bottom: 44px; }
  .core.shell.ipad .main {
    position: absolute;
    left: 321px;
    top: 0px;
    right: 0px;
    bottom: 0px; }
    .core.shell.ipad .main .region {
      position: absolute;
      left: 0px;
      top: 44px;
      right: 0px;
      bottom: 44px; }
  .core.shell.ipad .header > .region {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; }
  .core.shell.ipad .footer > .region {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; }
