@import "common";
@import "content";


// ------------------------------------------------------
//                      Test Harness
// ------------------------------------------------------
.shell.harness {
  .main .footer .region {
    img.logo {
      @include abs_pos(nil, 12, 20, nil);
    }
  }
}

