// java -jar ../closure-templates/SoyToJsSrcCompiler.jar --outputPathFormat simple.js simple.soy
// ../closure-templates/SoyToJsSrcCompiler.jar --help


{namespace examples.simple}


/**
* Says hello to the world
*/
{template .helloWorld}
Hello World!
{/template}