- if !single_js_file?
  = javascript_include_tag 'closure/closure-library/closure/goog/base.js'
  = javascript_include_tag 'closure/closure-templates/deps.js'
  = javascript_include_tag 'open.core/deps.js'

= javascript_include_tag application_js
